body {
  margin: 0;
  user-select: none;
  cursor: default;
  font: 12px/18px 'Open Sans', sans-serif;
  position: fixed;
  top: 0; bottom: 0;
  width: 100%;

  & > header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #2c3e50;
    color: #fff;
    padding: 0;

    span {
      padding: 0 20px;
      display: inline-block;
    }

    .title {
      background: #e74c3c;
    }

    .clickable:hover {
      background: rgba(0, 0, 0, 0.3);
    }

  }

  & > .content {
    position: absolute;
    top: 30px; bottom: 0;
    width: 100%;
    background: #34495e;
    overflow: hidden;
  }

}

.window-manager {
  position: relative;
}

.windows {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

.window {
  position: absolute;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  background: #2980b9;
  overflow: hidden;
  transition: box-shadow 0.15s ease;

  &.active {
    background: #3498db;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.6);
  }

  $header_height: 30px;

  header {
    position: absolute;
    top: 0;
    height: $header_height;
    left: 0;
    right: 0;
    line-height: $header_height;
    cursor: move;

    .title {
      margin-left: $header_height / 4;
      float: left;
      color: #fff;
    }

    .close {
      float: right;
      height: $header_height;
      width: $header_height;
      transition: background 0.15s ease;
      cursor: default;

      &:after {
        content: 'x';
        font-size: 15px;
        display: block;
        text-align: center;
        width: $header_height;
        line-height: $header_height;
        color: #fff;
      }

      &:hover {
        background: rgba(0, 0, 0, 0.4);
      }
    }

  }

  .content {
    $padding: 3px;
    background: #fff;
    position: absolute;
    top: $header_height;
    bottom: $padding;
    left: $padding;
    right: $padding;
  }

  .resize {
    position: absolute;
    bottom: 0;

    &.se-resize {
      right: 0;
      cursor: nwse-resize;
      width: 10px;
      height: 10px;
    }

    &.sw-resize {
      left: 0;
      cursor: nesw-resize;
      width: 10px;
      height: 10px;
    }

    &.s-resize {
      left: 0;
      right: 0;
      cursor: ns-resize;
      height: 10px;
    }

    &.e-resize {
      right: 0;
      top: $header_height;
      cursor: ew-resize;
      width: 10px;
    }

    &.w-resize {
      left: 0;
      top: $header_height;
      cursor: ew-resize;
      width: 10px;
    }

  }
}

.settings {
  padding: 20px;
}

$fade: opacity 1s ease-in;

.transition-enter {
  opacity: 0;
  transition: $fade;
}

.transition-enter.transition-enter-active {
  opacity: 1;
}

.transition-leave {
  opacity: 1;
  transition: $fade;
}

.transition-leave.transition-leave-active {
  opacity: 0;
}

